*
!Dockerfile
!target-release/
!target-release/x86_64-unknown-linux-musl/
!target-release/x86_64-unknown-linux-musl/release/
!target-release/x86_64-unknown-linux-musl/release/mechanics-worker
!target-release/x86_64-unknown-linux-musl/release/philharmonic-connector
!target-release/x86_64-unknown-linux-musl/release/philharmonic-api
!deploy/
!deploy/api.toml
!deploy/connector.toml
!deploy/mechanics.toml
